In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Data/final_labeled_dataset.csv')
df

                                          padded_indices  label
0      [226278, 358160, 1, 385218, 229835, 452, 34532...      0
1      [226278, 193716, 452, 43010, 166369, 373416, 1...      0
2      [358160, 284764, 319421, 254258, 65680, 867, 1...      0
3      [246283, 189825, 269798, 182540, 360915, 37416...      0
4      [377946, 260760, 325899, 867, 164328, 297112, ...      0
...                                                  ...    ...
40427  [185457, 170714, 302207, 337259, 307261, 31974...      1
40428  [185457, 383514, 254961, 348374, 142250, 38630...      0
40429  [394475, 90548, 384428, 357266, 181430, 88126,...      1
40430  [185457, 222477, 264612, 44608, 358160, 129285...      0
40431  [185457, 389836, 188481, 357266, 384638, 18946...      1

[40432 rows x 2 columns]

In [3]:
cnt0=0
cnt1=0
for x in (df['label']):
    if(x==0):
        cnt0+=1
    else:
        cnt1+=1
print("count 0 class:",cnt0)
print("count 1 class:",cnt1)

count 0 class: 20216
count 1 class: 20216

In [4]:
from sklearn.model_selection import train_test_split

# Load dataset
df = pd.read_csv("Data/final_labeled_dataset.csv")

# Separate features and labels
X = df['padded_indices']
y = df['label']

# First, split into train (70%) and temp (30%) while keeping class balance
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.30, stratify=y, random_state=42)

# Split temp into dev (15%) and test (15%)
X_dev, X_test, y_dev, y_test = train_test_split(X_temp, y_temp, test_size=0.50, stratify=y_temp, random_state=42)

# Combine back into DataFrames
train_df = pd.DataFrame({'padded_indices': X_train, 'label': y_train})
dev_df = pd.DataFrame({'padded_indices': X_dev, 'label': y_dev})
test_df = pd.DataFrame({'padded_indices': X_test, 'label': y_test})

# Save files
train_df.to_csv("Data/train.csv", index=False)
dev_df.to_csv("Data/dev.csv", index=False)
test_df.to_csv("Data/test.csv", index=False)

print("Datasets saved successfully: train.csv, dev.csv, test.csv")

Datasets saved successfully: train.csv, dev.csv, test.csv

In [5]:
def verify(df):
    cnt0=0
    cnt1=0
    for x in (df['label']):
        if(x==0):
            cnt0+=1
        else:
            cnt1+=1
    print("count 0 class:",cnt0)
    print("count 1 class:",cnt1)

In [6]:
verify((pd.read_csv('Data/test.csv')))

count 0 class: 3033
count 1 class: 3032